{% extends "core/email/base.html" %}

{% block body %}
  <p>
    A new upload email address has just been created for your DocumentCloud
    account. This allows you to email documents and have them directly uploaded
    in to your account. To keep this address private, it was only show to you
    once, when you generated it. If you have forgotten it, you may create a new
    one at under your account menu towards the top right at
    https://www.documentcloud.org. You may also use that menu area to disable
    this feature entirely. If you did not generate this email address, please
    log in to DocumentCloud, change your password and let us know by replying
    to this email.
  </p>
{% endblock body %}
