{% extends "core/email/base.html" %}

{% block body %}
  <p>
    An upload email address has just been deleted from your account.  This
    means you will no longer be able to email documents to a private email
    address to upload emails directly.  You may create a new upload email
    address at https://www.documentcloud.org if you would like to re-enable
    this feature. If you did not delete the mail ket, please log in to your
    DocumentCloud account and change your password.
  </p>
{% endblock body %}
