{% extends "core/email/base.html" %}

{% block body %}
  <p>
    A mail key has just been created for your account.  This allows you to
    email documents to a private email address, and have them directly uploaded
    in to your account.  To keep this address private, it is only show to you
    once.  If you have forgetten it you may create a new one at
    https://www.documentcloud.org.  If you would like to disable this feature,
    you may remove the mail key.  If you did not create this mail key, please
    log in to DocumentCloud and change your password.
  </p>
{% endblock body %}
