{% extends "core/email/base.html" %}

{% block body %}
  <p>
  Hi {{ name }},

  <p>
  We’re reaching out because you’re listed as {% if admin %}the administrator for
  {% elif freelancer %}a freelancer for {% else %}a member of {% endif %} the
  {{ org_name }} DocumentCloud account. Over the past 18 months, we’ve been hard at
  work building a faster, more reliable DocumentCloud, and we’re now beginning
  the process of upgrading accounts.
  </p>

  {% if freelancer %}
    <p>
    As part of this upgrade, we're revising our permissions model, which means
    that you'll now be able to use your freelancer account independently, include
    have more control over the documents you upload and not needing to specify an
    organization you're contributed them to . Because you are not a member of
    {{ org_name }}, you'll not be able to upload documents into their account unless
    they add you as a member.
    </p>
  {% else %}
    <p>
    Your organization is schedule to be migrated over to the new platform on
    <b>{{ upcoming_date }}</b>. No further action from you is required, but if
    you’d like to delay the migration, please fill out this form <b>by
    {{ reply_date }}</b>:
    </p>

  <a href="https://www.muckrock.com/assignment/request-documentcloud-upgrade-delay-322/embed/">https://www.muckrock.com/assignment/request-documentcloud-upgrade-delay-322/embed/</a>
  {% endif %}

  <p>
  After we upgrade you, you’ll get an email confirming the upgrade and details on
  how to log in and use your account{% if admin %}, as well as a new way for
  managing users{% endif %}.
  </p>

  <p>
  All your documents, notes{% if admin %}, and existing users{% endif %} will be
  migrated over, and we’ll keep a backup of everything in case anything looks
  off. If you have shared documents via guest links, these will no longer work as
  we revamp our permissions settings.
  </p>

  {% if not freelancer %}
  <p>
  There are also a few major features that we haven’t quite ported over yet, so
  if these are critical to your work please ask for a delay:
  </p>

  <ul>
    <li>Multilingual support for interface elements.  (Multilingual OCR is supported)</li>
    <li>Entity extraction and timeline features.</li>
    <li>Support for non-PDF filetypes.</li>
  </ul>
  {% endif %}

  <p>
  If you’d like a sneak peak of what’s in store, check out this video walking
  through the improvements:
  </p>

  <a href="https://youtu.be/-i8wuVAa3-Y">DocumentCloud Beta Overview - YouTube</a>

  <p>
  Please register for our mailing list to get updates on feature additions, tips
  and tricks, funding opportunities, and other important DocumentCloud updates:
  </p>

  <a href="https://documentcloud.us11.list-manage.com/subscribe?u=4e1ca6e52b3163639d641f360&id=20a793193a">https://documentcloud.us11.list-manage.com/subscribe?u=4e1ca6e52b3163639d641f360&id=20a793193a</a>

  <p>
  {% if admin %}
    If you’re no longer the correct administrator, please forward this email to
    the best contact. For reference, we’ve included a list of current individuals
    linked to your account below, including details if they’re an admin or not.
    If you have any questions, feel free to just respond to this email.
  {% else %}
    For reference, we’ve included a list of current administrators of your
    organizational account below. If you have any questions, feel free to just
    respond to this email.
  {% endif %}
  </p>

  <p>
  Sincerely,<br>
  The DocumentCloud Team
  </p>

  {% if admin %}
    <p>
    Members of {{ org_name }}
    </p>
    <ul>
      {% for name, email, user_admin in users %}
        <li>{{ name }}, {{ email }}, {{ user_admin|yesno:"admin,member" }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
    Admins of {{ org_name }}
    </p>
    <ul>
      {% for name, email, user_admin in users %}
        {% if user_admin %}
          <li>{{ name }}, {{ email }}, admin</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock body %}
