<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add-On Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
      <h1 class="my-5">Add-On Dashboard</h1>
      <p>From: {{ start|date }}, {{ start|time }}</p>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Unique Users</th>
            <th>Total Runs</th>
            <th>Successful Runs</th>
            <th>Failed Runs</th>
          </tr>
        </thead>
        <tbody>
          {% for addon in addons %}
            <tr{% if addon.fail_rate > fail_limit %} class="table-danger"{% endif %}>
              <td>{{ addon }}</td>
              <td>{{ addon.user_count }}</td>
              <td>{{ addon.run_count }}</td>
              <td>{{ addon.success_count }}</td>
              <td>{{ addon.fail_count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>

